* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  margin-top: 0;
  padding-left: 0;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.0016em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 16px;
}
li {
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
/* task-1 style */

#categories {
  margin-top: 50px;
  margin-left: 50px;
  width: 440px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}
#categories .item {
  padding: 16px;
}
#categories .item {
  border-radius: 8px;
  background: #f6f6fe;
  margin-bottom: 24px;
}
#categories :last-child {
  margin-bottom: 0;
}
#categories .item li {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  color: #2e2f42;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 8px;
}
#categories .item :last-child {
  margin-bottom: 0;
}
/* /task-1 style */

/* task-2 style */
.gallery {
  width: 1440px;
  padding: 100px 156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}
.gallery img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

/* /task-2 style */

/* task-3 style */
.container {
  width: 480px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.0016em;
  color: #2e2f42;
  margin: 0;
}
#name-input {
  width: 100%;
  height: 40px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  margin-bottom: 16px;
}
/* /task-3 style */

/* task-4 style */
.login-form {
  width: 408px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 8px;
  background: #fff;
  padding: 24px;
}
.login-form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #2e2f42;
  display: block;
}
.login-form input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 8px;
}
.login-form label:nth-child(2) input {
  margin-bottom: 16px;
}
.login-form button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  cursor: pointer;
}
button:hover,
button:focus {
  opacity: 0.8;
}

/* /task-4 style */

/* task-5 style */
.widget {
  margin-top: 50px;
  margin-left: 50px;
  width: 345px;
  text-align: center;
  padding: 100px 88px;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  color: #2e2f42;
}
.widget p {
  margin-bottom: 16px;
}
.widget button {
  width: 148px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  cursor: pointer;
}

/* /task-5 style */

/* task-6 style */
#controls {
  width: 486px;
  border-radius: 8px;
  background: #f6f6fe;
  padding: 32px;
  margin-bottom: 16px;
  margin-top: 50px;
  margin-left: 50px;
}
#controls input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5;
  letter-spacing: 0.0016em;
  color: #2e2f42;
  width: 150px;
  border-radius: 8px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-bottom: 8px;
}

button[data-create] {
  width: 120px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  cursor: pointer;
}
button[data-destroy] {
  width: 120px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  background: #ff4e4e;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#boxes {
  width: 486px;
  border-radius: 8px;
  background: #f6f6fe;
  display: flex;
  flex-wrap: wrap;
}

#boxes div {
  width: 30px;
  height: 30px;
  margin: 5px;
}
/* /task-6 style */
